<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <nav class="navbar navbar-expand-sm navbar-custom">
    <ul class="navbar-nav">
      <%for (i of nav){%>
        <li class="nav-item ">
          <a class="nav-link" href="<%=i.link%>"><%=i.title%></a>
        </li>
      <%}%>            
    </ul>
  </nav>
  <div class="jumbotron jumbotron-fluid jumbo1">
    <div class="container-fluid">
      <div class="row">
        <div class="heading col-sm-7">   
          <h1 class="display-2"><%=title%></h1>
        </div>
        <div class="jumbotron jumbo2 col-sm-4">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid outer">
    <div class="row">
      <div class="main col-sm-11">
        <div class="row sub border-bottom">
          <div class="sub1 col-sm-2">
            <img src="/images/pro1.jpeg" class="rounded-circle" alt="logo">
          </div>
          <div class="sub2 col-sm-9">
            <h2>Krishnakumar K </h2>
            <h3>2 hours ago</h3>
            <h4>ME</h4>
          </div>
        </div>

        <div class="row sub border-bottom">
          <div class="sub1 col-sm-2">
            <img src="/images/pro2.jpeg" class="rounded-circle" alt="logo">
          </div>
          <div class="sub2 col-sm-9">
            <h2>Ramachadran M</h2>
            <h3>2 hours ago</h3>
            <h4>CSE</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>